[2019-02-04 11:08] 1ivanr33 opened #2 "How to interpret recieved token?"
What should I do after getting token to verify if the user is not robot and to allow or decline his action?

[2019-02-11 11:33] t49tran commented on #2
The token should be sent to your backend, which in turn, will call Google Service itself to determine whether the user is trustworthy or not.

The process is pretty well documented by Google themselves and you can find it here:

https://developers.google.com/recaptcha/docs/v3

I will close this issue as it's more of a question rather than an issue with the library.

[2019-02-11 11:33] #2 closed

[2019-03-07 03:33] yisusans opened #4 "Site key Error"
Sporadically get this error `Uncaught (in promise) Error: Invalid site key or not loaded in api.js`.  I know the key is correct because the error doesn't throw all the time.

[2019-03-13 20:07] yisusans commented on #4
oh sorry about that...this was because I had recaptcha v2 and v3 loaded.  the library I was using for v2 did not have an onload function in the script tag and this caused a race condition that generated this error.  Thanks!

[2019-03-13 20:07] #4 closed

[2019-04-05 04:02] sumarsanaadi opened #5 "how to reset recaptcha ?"
I installed the module in react Single Page Apps, the problem is I need to use the recaptcha only on 2 pages (e.g register and contact). but the token only generated once .

[2019-04-12 04:58] t49tran commented on #5
As per the Google doc for Recaptcha V3, the reset function is not mentioned: https://developers.google.com/recaptcha/docs/v3. However, if you deep dive enough and play with the recaptcha instance provided, there is a `reset` function. As it's not mentioned in the official doc, I don't provide support for that.

There are multiple ways to have different recaptcha token on different pages of a SPA.

[2019-04-12 04:58] #5 closed

[2019-06-18 17:29] igelineau opened #7 "GoogleReCaptchaProvider does not support an initial null reCaptchaKey"
If GoogleReCaptchaProvider is initialized with a reCaptchaKey that's initially null, then updated later, the updated key is not taken into account and trying to execute captchas result in an invalid key error.

It would be useful to see it supported, as in our application, the reCaptchaKey is fetched from the backend and fed to the provider using redux / props.

Delaying the script injection until

[2019-06-19 01:57] t49tran commented on #7
Hi @igelineau, it sounds like a legit use case, if you have time for a PR then it's welcomed. Otherwise I will look into it later when I have time this weekend.

[2019-06-19 16:36] igelineau commented on #7
@t49tran I'm aware that most examples are hard-coding the key in the client side, but I think the intent was to have separate keys for our different environments, although I'm not sure if it's a valid use case yet. Anyway, the fix is not too ugly :P

[2019-06-20 00:51] t49tran commented on #7
@igelineau, thanks for the PR. I will review it this weekend.

If you have different environments that needs different keys, these keys should go to environment files and these files can be ignored from version control, that is the standard practice to avoid hardcoding keys.

[2019-06-22 06:36] #7 closed

[2019-07-12 16:09] ivansenic opened #9 "Add support for recaptcha language"
It would be really nice to have a support for the recaptcha language that can be added by appending `&hl=` parameter to the recaptcha script source url. Google supports following languages: https://developers.google.com/recaptcha/docs/language

My idea is to have something like:

[code]

[2019-07-29 07:49] t49tran commented on #9
Hi @ivansenic, thanks for letting me know about that.

I've added an option to the `GoogleReCaptchaProvider` component for language.

You can update to version `1.4.0` to enjoy it. Next time, feel free to open a PR if you want to.

Cheers.

[2019-07-29 07:49] #9 closed

[2019-09-13 02:45] Jason-Cooke opened #10 "Recaptcha Visibility"
Hi,

Just wondering if you have any plans to add a visibility prop to **react-google-recaptcha-v3**?
You have a really great component here, but in order for me to use it. I'm going to need to make
it **invisible**

Thanks for your time!

[2019-09-13 05:38] #10 closed, assigned to nobody

[2019-09-16 20:54] lynscott commented on #10
Kind of related to @Jason-Cooke 's issue, but the visibility of the recaptcha badge seems to linger after leaving the associated page unless you refresh the page.

IE I want the recaptcha badge and associated actions present on a login form but it shouldn't be visible throughout the entire application. Unless that is the expected behavior with your wrapper?

[2019-09-29 17:22] rscotten opened #12 "Work-around if using react-snap"
Hello,

Thanks for making this library.

Unfortunately, I found that it doesn't work with the `react-snap` library and `create-react-app`.  I'm using the `withGoogleReCaptcha` HOC, and the `executeRecaptcha()` function doesn't execute.  It also throws no error, so it's not easy to debug.

I wanted to post my workaround in case anybody runs into this issue.

The given code example in the Readme goe

[2019-10-04 03:55] t49tran commented on #12
Hi @rscotten, thanks for that. I haven't looked into how this lib work with SSR solutions. What you have posted seems really useful and at least we can consider to add it to the docs. I completely believe that the provider should be able to work properly in these situations.

Let me see how the libs work with couple of SSR setups before decide what we needs to do. In the meantime, let me know if y

[2019-10-07 09:32] olemartin opened #13 "executeRecaptcha hangs second time"
It seems like executeRecaptcha hangs the second time I call it. When users navigate on our site, we don't reload the script.

[2019-10-07 11:27] t49tran commented on #13
Hi @olemartin, as much as I would like to, I cannot help you with such a brief, can you at least please provide an example of your code and the console log ?

[2019-10-07 11:31] olemartin commented on #13
@t49tran
I didnt know how to describe it better :-)

I have this code:
[code]

voting2 is always printed, voting3 is only printed the first time.

In the application this happens when I use the backbutton to navigate back to where the recaptcha code is and execute the vote-function.

[2019-10-08 12:10] t49tran commented on #13
So what you've caught inside the catch phrase, what is the error there ?

[2019-10-08 12:12] olemartin commented on #13
@t49tran It's no error. The function call just hangs.

[2019-10-08 12:33] t49tran commented on #13
Have you checked the function can reach the `catch` phrase, since you use `try` - `catch` there. The error might not be thrown into console log as it might be swallowed inside the catch phrase.

Without the error I could not assist you further and must close this issue.

[2019-10-08 12:39] olemartin commented on #13
@t49tran I didn't have a try-catch in the start. I added the try-catch in an attempt to figure out what was wrong, but the function call just hangs. So, I don't have an error message, but the component doesn't work as expected.

[2019-10-08 13:36] olemartin commented on #13
It might be that the recaptcha token is expired. How do you handle that?

[2019-10-09 11:00] olemartin commented on #13
This seems to work:
[code]

[2019-11-05 14:39] turistua commented on #13
I wonder if anyone looks at this issue?

[2019-11-05 14:42] turistua commented on #13
@olemartin we face this issue for gatsby websites. Do you develop static website as well?

[2019-11-11 16:06] cahuizar commented on #13
I am also facing a similar issue as to what has been mentioned, the first time my app fully renders and I submit my form, the excuteRecaptcha returns back a value. But in the instance that it gets verified by the backend and or it expires. I get an error back from the API and if I try to resubmit `
        values.RecaptchaToken = await executeRecaptcha('homepage');
        addSmsInfo(values, setEr

[2019-11-11 17:23] Razum commented on #13
+1
Have the same issue. executeRecaptcha method just returns Promise that is in "pending" state all the time

[2019-11-13 16:00] akin-tekeoglu commented on #13
@t49tran I opened PR. I tried it on my local machine and it works. It doesn't hang when component remounts

[2019-11-21 22:41] t49tran commented on #13
@akin-tekeoglu thanks for the PR, I will publish the fix as soon as possible.

[2019-11-25 05:49] #13 closed

[2019-12-13 06:24] ErcinDedeoglu opened #15 "TypeError: Cannot read property 'ready' of undefined"
**Getting error:**
`TypeError: Cannot read property 'ready' of undefined
`
**My code:**
[code]

**Call:**
[code]

How can I understand component loaded successfully? Thanks advance.

[2019-12-16 12:01] lordh1 opened #16 "Cannot invoke an object which is possibly 'undefined'. TS2722"
Hi

[code]
is causing an error because `executeRecaptcha` is optional here:

[code]

[2019-12-16 12:16] t49tran commented on #15
How the library can be used has already been written in the document, please check it before open issue.

The type error you are experiencing is not part of the library. In fact, you are not supposed to use `window.grecaptcha`.

The library expose component, `HOC` and hooks that you can use to in your React code, please check the document for these information.

[2019-12-16 12:16] #15 closed

[2019-12-16 12:19] t49tran commented on #16
You can check the example to see how this is handle.

You should always check to see if `executeRecaptcha` is ready first before invoke it. `executeRecaptcha` is optional as it's dependent on the google library which is loaded asynchronously,.

[2019-12-16 12:19] #16 closed

[2020-01-21 09:32] sanderdewijs opened #18 "Handle expired token"
Hi,

Is it possible to trigger the validation and generated token when the user performs and action? For example when submitting a form?

In my usecase, the entire website is rendered in React. So there can be several minutes between when the user visits the site, and decides to submit the form. The token is expired by then.

[2020-01-21 09:39] t49tran commented on #18
@sanderdewijs, please read and follow the doc. You can either use the hook `useGoogleReCaptcha` or the HOC `withGoogleReCaptcha`, to access the `executeRecaptcha` function and generate a token programatically.

[2020-01-21 09:39] #18 closed

[2020-01-24 14:29] skoob13 opened #19 "Recaptcha Element isn't visible when hook is used"
Hello,

We have noticed that when we use HOC/Hook or context the Recaptcha element doesn't appear at all. However, when we use a component the element is visible. I'm not sure that there is a bug, but according to Recaptcha V3 [docs](https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed) we should show the element or additional labels.

Shouldn't hoc

[2020-01-27 19:04] omarTherefore opened #20 "using recaptcha v3 from a react-native-webview is not working"
when this component is used on a website it works very well and tokens are generated without issues, but when that same website is loaded in a react-native-webview (community) the initial call (from <GoogleReCaptchaProvider>) doesn't get through at all, and we don't get a token back.

I tried adding a nonce value to the embed string and adding csp to the site headers and no luck.
any ideas?

[2020-01-27 20:24] omarTherefore commented on #20
I retract this, the warnings were still valid but they were not blocking anything, it was a conflict with another code package.
closing the issue, sorry about the confusion.

[2020-01-27 20:24] #20 closed

[2020-01-28 10:53] t49tran commented on #19
Hi @skoob13, I am not sure what you mean when you're referring to `the element`.

If you mean the Google Recaptcha label  then it should be visible by default when used with `withGoogleReCaptcha` or `useGoogleRecaptcha` .

<img width="844" alt="Screen Shot 2020-01-28 at 5 39 05 pm" src="https://user-images.githubusercontent.com/2223362/73257838-113a9180-41f7-11ea-8868-0ed83a3af0cb.png">

[2020-01-29 02:00] difagume opened #22 "How hide badge"
Hey, thanks for making this package.
I'm using it in the login page but when I enter the dashboard the component is still there, I would like to know how to make it only appear in my login page, or how I can hide it, thank you very much.

My code

**App.tsx**
[code]

**Login.tsx**

[code]

[2020-01-29 09:01] michalkobelka commented on #22
Add `.grecaptcha-badge { display: none; }` to your CSS

[2020-01-29 14:08] anhtran commented on #22
As mention in https://stackoverflow.com/a/53986985/186153

You also have to add links to the terms.

[2020-01-30 01:35] difagume commented on #22
My intention was to show the recaptcha component on the login page so the option to add "display: none" didn't help much.

What I did was to use: **useLayoutEffect** both in login.tsx and in the home.tsx page where I was going to hide it, if it helps someone I did it like this:

**Login.tsx**
[code]

**Home.tsx**
[code]

Any correction is welcome

[2020-01-31 00:34] #22 closed

[2020-02-08 12:03] skoob13 commented on #19
@t49tran I'm sorry for the wrong report, it was the issue on our side

[2020-02-08 12:03] #19 closed

[2020-02-26 12:28] aebmknrl opened #24 "Problem using the hook"
Hello friend, first of all I wanted to thank you for making this library.

The implementation of the hook is not very clear to me.

this line:
`  const token = executeRecaptcha("login_page");`

returns a `promise`. So if I add the async/await to this function (`ReCaptchaComponent `) I have an error rendering the component... Because this function must contains the analysis of the response from ser

[2020-02-26 13:08] t49tran commented on #24
Hi Ali, the issue you posted has nothing to do with the way with the hook has been implemented.

Basically, I think you're confused about about how to handle asynchronous and conditional rendering in React. I reckon you read the React document to have a better understanding.

Also, I believe you're also confused about how Google Recaptcha v3 works, basically, in the browser, the `excecuteRecaptcha

[2020-02-26 13:08] #24 closed

[2020-03-06 08:48] D-Thrane opened #25 "Use in Japan"
Japan blocks google. Is there any way to support China with the other url supported by google for China use.

[2020-03-07 10:53] Dashiing commented on #25
This solves it:
Extend GoogleReCaptchaProvider and use the new extended class instead:
[code]
Now it make use of the **recaptcha.net** url instead of **google.com** which is blocked in china.

[2020-03-15 16:58] Mariaabpr opened #26 "not showing in all pages"
I use this package for recaptcha in my react  website. i want to show it in only one page .
this package set in contact page but showing in other pages after open contact page.
help me

[2020-03-17 16:55] bogdancss opened #27 "ReferenceError while running example code"
Hey there,

While running the example, I am getting the following reference error:

`recaptcha.js:18 Uncaught ReferenceError: regeneratorRuntime is not defined`

[2020-03-19 19:24] jpomykala commented on #26
I got the same problem

[2020-04-01 06:56] VishalSalunke opened #28 "Should have functionality to hide and display captcha badge"
I know as per google terms we can not directly hide the captcha badge, But on the other hand we don't want captcha badge all the time.
You should add some prop or something so that we can show badge only when the user is filling the form and after submitting the form we can hide badge.

There are other ways of doing this like
document.getElementsByClassName('grecaptcha-badge')[0].style.opacity = 0

[2020-04-01 11:45] t49tran commented on #27
It looks like a problem with your bundler / compiler rather than the library itself.

[2020-04-01 11:45] #27 closed

[2020-04-01 11:46] #25 closed

[2020-04-01 11:53] bogdancss commented on #27
@t49tran this was recreated just by importing the package in a barebone create-react-app project

[2020-04-02 16:27] kafeltz commented on #16
For me is forever undefined this var and the app never work.
If i call it by console I can retrieve the value.

The example don't work for me.

![image](https://user-images.githubusercontent.com/1765469/78273748-a868e180-74e5-11ea-92ba-07f63643f675.png)

[2020-04-09 03:06] auahmed opened #31 "is there a way to pin the captcha on the left side rather then right?"

[2020-04-09 03:14] #31 closed

[2020-04-16 03:44] curiouscosmos opened #33 "UnhandledPromiseRejectionWarning: TypeError: executeRecaptcha is not a function"
Captcha Loads fine but error on execute.

`
import React from 'react';
import {
  GoogleReCaptchaProvider,
  useGoogleReCaptcha
} from 'react-google-recaptcha-v3';

import Button from './button';

export default function ReCaptcha(props) {
  const { executeRecaptcha } = useGoogleReCaptcha();

  const execute = async () => {
	const result = await executeRecaptcha();
	console.log(result);
  };

  re

[2020-04-16 03:46] #33 closed

[2020-04-21 04:45] Nash0x7E2 commented on #12
Does this workaround also work for create-react-app? The banner is shown on the side of the screen however the widget is not rendered.

@salvoravida Looked at the `userAgent` however it does not match ReactSnap at any point so the condition is never being met.

Any advice on this issue would be greatly appreciated.

[2020-04-21 07:17] rscotten commented on #12
@Nash0x7E2 The React Snap library is a NodeJS pre-rendering library.  My workaround is designed for using Create React App (CRA) when pre-rendering with React-Snap.

`react-google-recaptcha-v3` should work just fine with CRA.  The userAgent will be whatever browser you're using.

[2020-04-26 21:13] av1at0r commented on #26
I ran into the same problem. I cloned the repository to my computer, built and added to the project. That was enough to solve the problem.

[2020-05-02 14:57] spencer741 commented on #26
I am having a similar issue. The component is not showing up at all for me. I have verified that I have a registered token with Google. I am also getting **Protected by reCaptcha** in the bottom right hand corner, which means my key and domain is registered with Google. I noticed that the current code is behind the [npm releases](https://www.npmjs.com/package/react-google-recaptcha-v3) by by a cou

[2020-05-02 15:33] spencer741 commented on #12
@rscotten I am having the same issue with CRA as @Nash0x7E2 is.

The component is not showing up at all for me. I am also getting the **Protected by reCaptcha** banner in the bottom right hand corner. In addition, the recaptcha http request  to Google is successful. After inspecting the DOM, the component is not getting rendered at all.

[2020-05-09 21:03] cristianszwarc commented on #26
**I'd like to hide the reCAPTCHA badge. What is allowed?**
https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed

they tell you their rules and even how to hide it:

[code]

[2020-05-15 04:56] t49tran commented on #28
That's problem should now be resolved in with the latest version 1.5.1.

[2020-05-15 04:56] #28 closed

[2020-05-15 04:56] t49tran commented on #26
That's problem should now be resolved in 1.5.1.

[2020-05-15 04:56] #26 closed

[2020-05-18 10:58] techieshark opened #34 "silently hangs if recaptcha key has not been set"
Hi, thanks for putting this library together.

I ran into an issue I'll share here for others' benefit.

The problem was when executing the recaptcha fetch, it just hung. I was expecting either an immediate response or maybe throwing some error.

in App.jsx:

[code]

then in Form component:

[code]

but upon calling `refetchCaptchaToken` in my form submission handler, the `await` doesn't return, i

[2020-05-18 12:40] t49tran commented on #34
Hi @techieshark , I will have a look, I think it's a good idea to throw an error when there is no `recaptchaKey` provided.

[2020-05-21 18:52] kajchang commented on #12
@Nash0x7E2 @spencer741 your problem is unrelated to this one. There's no widget because Recaptcha v3 doesn't rely on a challenge widget, you should use Recaptcha v2 if you want to use a challenge widget. This confused me a bit initially.

https://developers.google.com/recaptcha/docs/faq

[2020-05-21 19:07] Nash0x7E2 commented on #12
Thanks @kajchang, in the end I did switch to V2 and that solved my problem.

[2020-05-22 05:31] #12 closed

[2020-05-26 11:07] ohlr opened #36 "Feature Request: Possibility to hide banner"
`.grecaptcha-badge { visibility: hidden; }`
hides the banner and is allowed as long

[code]
is provided on the form (https://developers.google.com/recaptcha/docs/faq)

I'd love to see this feature with a invisible=true || false flag. Should be fine, when referencing the faq in the docs

[2020-05-26 12:19] t49tran commented on #36
This has been discussed before and I will not include it as part of this library. The developer can choose to hide the badge if they want and it's pretty easy to do.

[2020-05-26 12:19] #36 closed

[2020-06-01 14:31] neha-takhi opened #37 "On IE browser, it is giving "SCRIPT5002: Invalid operand to 'instanceof': Function expected" at recaptcha_en.js (553,39)"
On IE, it is giving error, if you leave the page untouched for while.

[2020-06-02 05:26] t49tran commented on #37
@neha-takhi which version of IE are you using ?

[2020-06-02 09:31] neha-takhi commented on #37
Hi , I am using IE 11

On Tue, Jun 2, 2020, 10:56 AM Duong Tran <notifications@github.com> wrote:

[2020-06-05 07:45] neha-takhi commented on #37
Please help me out in this. In recaptcha_en.js, where we are using instanceOf it is giving error.

[2020-06-05 09:19] neha-takhi commented on #37
![recaptchaBug](https://user-images.githubusercontent.com/48908600/83859572-bf24f200-a73b-11ea-8a50-f3394e07210d.PNG)
![recaptchaBug](https://user-images.githubusercontent.com/48908600/83859588-c4823c80-a73b-11ea-891c-557e1369414c.PNG)

[2020-06-05 12:42] t49tran commented on #37
@neha-takhi, supporting IE 11 is not my top priority. Feel free to submit a PR if you have a solution. Otherwise I will address it when I have time.

[2020-06-18 00:54] dmorda commented on #37
I'm running into the same issue. I believe it has to do with the remove() method on line 77 of [google-recaptcha-provider.tsx](https://github.com/t49tran/react-google-recaptcha-v3/blob/master/src/google-recaptcha-provider.tsx#L77). Unfortunately, I'm not sure I know what would need to change to address the issue, but maybe it's enough to provide a lead.

[2020-06-23 10:28] ohlr opened #39 "Timeout for executeRecaptcha on Mobile Chrome"
On my Smartphone Chrome
` const token = await executeRecaptcha("contact");`

fails with a timeout (Stacktrace below)
It works fine on Mozilla and Desktop versions of chrome other mobile versions of chrome.
The issue is probably located upstream. But this might be a good starting point.

Chrome is 83.0.4103.106
Android 10

[code]

[2020-07-05 22:28] jpomykala commented on #39
I have the same problem but it happens on multiple web browsers including Safari and Firefox. I think this project is not maintained anymore 😢

[2020-07-06 05:41] ohlr commented on #39
@jpomykala are you using pure react or some form of server side rendering (Gatsby, next...)

[2020-07-06 05:42] jpomykala commented on #39
@ohlr Pure react

[2020-07-06 06:55] ohlr commented on #39
Okay, I'm on gatsby - thought it might be related to that but obviously it's not

[2020-07-06 07:08] ohlr commented on #39
https://stackoverflow.com/questions/62750901/recaptcha-timeouts-on-some-browsers

[2020-07-06 07:28] ohlr commented on #39
@jpomykala Is your page an Accelerated Mobile Page? there is an additional checkbox in recaptcha console for such pages

[2020-07-06 07:34] jpomykala commented on #39
@ohlr No, I'm using this on page without AMP

[2020-07-06 08:28] t49tran commented on #39
Hi @jpomykala, misleading and wrong information like this is not welcome. While I will try to address problem related to this library, please remember that it's an open-source project and it's not my responsibility or your entitlement that I have to address or fix your problem immediately.

It's an open source project, which means if you really care about it or the problem that you're facing, feel

[2020-07-06 08:35] jpomykala commented on #39
This is a chart showing reCaptcha timeouts in last 30 days.
<img width="334" alt="Screenshot 2020-07-06 at 08 57 55" src="https://user-images.githubusercontent.com/1548104/86573213-587e3880-bf74-11ea-8494-23c8c8be66e2.png">

[2020-07-06 08:42] t49tran commented on #39
@jpomykala , what is the context of the chart, what are the parameters it measures again ? The latest version of this lib is published last month.

https://www.npmjs.com/package/react-google-recaptcha-v3

Please get your thing right before provide misleading claim.

[2020-07-06 08:45] jpomykala commented on #39
@t49tran Hey, calm down. I'm just trying to find the problem here ;) because timeouts are showing not only on the Mobile Chrome but also on other web browsers including the desktop ones. So we can exclude that fact it's a just connection problem on mobile.

[2020-07-06 08:49] t49tran commented on #39
Sorry @jpomykala, I don't see sharing false and misleading claim as finding and fixing problem. This kind of practice is not welcome in sharing / collaborative project.

You also didn't answer my question on the chart.

[2020-07-08 11:40] ohlr commented on #39
@t49tran do you see any potential starting point to debug this?

[2020-07-21 08:12] JudeNiroshan opened #41 "onVerify is not calling in subsequent rendering of the same react component"
I have a simple `LoginForm` component. This is how I have wrapped my component with `GoogleReCaptchaProvider` component.

[code]

This is my callback function that I submitted for `onVerify()`

[code]

### Problem:

At the initial when the page is rendering, I can see the `onVerifyCallback` has being triggered. But if I move to a different page(home page) without refreshing my web page, and then c

[2020-07-21 08:30] t49tran commented on #41
@JudeNiroshan , thanks for reporting that. I will have a look when I have time.

[2020-07-21 09:46] JudeNiroshan commented on #41
It seems like https://github.com/t49tran/react-google-recaptcha-v3/blob/24cfcb9391ec7fe5eccbec2c5098df3c02e70b53/src/google-recaptcha.tsx#L22 is not firing on component re-render

[2020-07-21 11:38] t49tran commented on #41
Yeah, that's expected behaviour for that component, it's only run once on `componentDidMount`. You don't want it to fire on every single re-render though. You might want to track that.

Your code looks ok to me except that you should put `GoogleRecaptchaProivder` on top level of your application. This component should only be rendered once for the whole application.

[2020-07-22 07:57] JudeNiroshan commented on #41
Thank you. But usually customers do not want to show the recaptcha on every page on the website. For example, home page. Google reCaptcha v2 is about adding a different kind of form input. So, the enhanced version will not add a form input attribute rather secretly validate the user.

IMO, adding the `GoogleReCaptchaProvider` to wrap the entire react app, is not the intended usage of it.

[2020-07-24 05:39] t49tran commented on #41
@JudeNiroshan , you can hide the Google Logo if you want.

The reason why `GoogleReCaptchaProvider` should stay at the top level of the app, or the page has nothing to do with the intended usage of Google reCaptcha. It's a provider component that does two things: load the Google Recaptcha  script and provide a React context value that including common recaptcha functions. For any application, to a

[2020-08-31 15:21] unCleanCode commented on #39
Having the same timeout error, particularly when going through different pages with react-router and both pages have GoogleReCaptchaProvider
First page loads and returns captcha, but the second one pretty often doesn't even make a request to google, but returns "Timeout (n)" exception after around 10s

[2020-09-02 01:48] t49tran commented on #39
@unCleanCode `GoogleReCaptchaProvider` is supposed to load once per app, your React tree is supposed to only have once instance of it. It's a context provider and there should only be one google recaptcha context in your app. I have seen quite a few people to include it multiple times on their app, usually on several pages they want to have recaptcha, unfortunately it's not how it's designed. You

[2020-09-02 08:11] unCleanCode commented on #39
@t49tran thanks for detailed answer. But it's not exactly the case - I only have GoogleReCaptchaProvider once in a React tree. The reason I didn't put it on top level is that the banner in bottom right corner is displayed on all pages, rather than only the pages I use them on. This is a problem as it takes space and overlaps some UI elements, especially on mobile

So I made a separate component wh

[2020-09-03 07:37] t49tran commented on #39
@unCleanCode thanks for your commend. I appreciate it.

From what you have reported (and I have seen a few others report it as well) there might be a problem with the provider being loaded later on a specific page (rather than always be there). I will spend sometimes to investigate it and see if I can provide a fix this weekend.

In the meantime, if you can come up with a fix, please feel free to

[2020-09-12 10:23] ohlr commented on #39
I load the provider once, wrapping the entire page.. still I am facing the issue

[2020-09-22 00:41] t49tran commented on #37
IE 11 is not going to receive any support from MS by November, there is very little reason for me to support IE 11.

Sorry about that but supporting an out-of-date, infamous for non-standard issues browser is not on my list.

[2020-09-22 00:41] #37 closed

[2020-09-22 00:48] t49tran commented on #34
I added a warning if there is no `recaptchaKey` provided here: https://github.com/t49tran/react-google-recaptcha-v3/commit/43f3cad6b7af557bcc79292dc3d7a38997e1cc3e

This one will be updated with the next release.

[2020-09-28 07:55] alexllao opened #44 "Uncaught (in promise) TypeError: executeRecaptcha is not a function"
Hi!

`const result = await executeRecaptcha("homepage");
setRecaptchatoken(result); `

This code produces an error:

**_Uncaught (in promise) TypeError: executeRecaptcha is not a function_**

[2020-09-28 08:23] t49tran commented on #44
Hi Alex, how do you get access to `executeRecaptcha` function ? Did you follow the document ? Can you provide the code where / how you get access to the function ?

[2020-09-28 08:39] alexllao commented on #44
Hi!!!

In principle everything works well for me, the problem is that I would like to refresh the token in some way, since there is no other option than to update the page to have a new token.

[2020-09-28 08:57] alexllao commented on #44
Sorry, I've already solved it. Thank you very much.

[2020-09-28 08:57] #44 closed

[2020-10-02 09:37] t49tran commented on #34
https://github.com/t49tran/react-google-recaptcha-v3/tree/v1.5.5 addressed on v1.5.5.

[2020-10-02 09:37] #34 closed

[2020-10-05 23:31] t49tran commented on #41
This problem has been resolved in v1.6.1 #45

[2020-10-05 23:31] #41 closed

[2020-10-09 08:00] archywillhe commented on #39
having the same problem too hmm

[2020-10-11 10:37] mykong89 commented on #39
Hmm I also having this problem. The funny thing is that I also got this exception when I was using different reCaptcha library.

[2020-10-19 22:17] LuanGB opened #48 "Should executeRecaptcha be possibly undefined?"
I have noticed that the IGoogleReCaptchaConsumerProps type has this property executeRecaptcha that can be possibly undefined. Should that be the case? For what I saw reading the code, there's no situation where executeRecaptcha will be undefined (It'll always be defined by googleReCaptchaContextValue).

https://github.com/t49tran/react-google-recaptcha-v3/blob/9c5608f0ab40d995fb433c9fa2151294637c9

[2020-10-19 22:30] LuanGB commented on #48
@t49tran I've sent this PR to fix the aforementioned issue. If you think something is missing, just let me know

[2020-10-21 23:25] tpkahlon opened #50 "Infinite POST request loop"
Environment: NEXT.js

[code]

[code]

Possible Solution:

[code]

Any feedback/advice regarding this solution or any possible alternative is appreciated. How to use HOC, Class based component with memoizedCallback in order to prevent infinite loop bug?

[2020-10-22 17:47] DanLeCornu commented on #50
To clarify - are you saying that when using React's useCallback to memoize the function, that the infinite loop issue stops? Because I read in the docs that it should stop that - however, even when I'm memoizing my onVerify function, it's still infinite looping:
[code]

Perhaps it's the way I'm using the provider? @t49tran could you shed any light on this?

[2020-10-23 03:10] t49tran commented on #50
It depends on what you do inside your `onVerify` function.

Clearly, not memoizing the function and at the same time, update the state will lead to infinite loop.

If your `onVerify` function is just something like:

[code]

I couldn't see how an infinite loop can be triggered.

You guys can check the example to see how to use the `onVerify` function without leading to an infinite loop.

[2020-10-23 03:31] t49tran commented on #50
You should never put the provider `<GoogleReCaptchaProvider />` in the same component with `<GoogleReCaptcha />`, doing it will make the Provider to be re-rendered whenever changes happened in the child component, re-creating the context and lead to issues.

A lot of these infinite rendering errors come down to understanding how React reconciliation and rendering works. It will take more than a fe

[2020-10-23 03:49] tpkahlon commented on #50
Okay, so here is what I found:

a. In case of useCallback hook, when you perform a setState in onVerify method in your page component in Next, it runs into making infinite POST calls. It only happens if you setState as object. If it is like setState(false) or setState('foo'), it does not make infinite POST calls.

**Solution:** I solved it by using useMemo function. See the demo [here](https://git

[2020-10-23 04:02] #50 closed

[2020-10-23 04:03] t49tran commented on #50
This has been documented in the ReadMe.md.

[2020-10-23 13:27] LouiseReid commented on #36
Wheres the documentation on how to do this?

[2020-10-23 13:31] DanLeCornu commented on #50
@t49tran You are correct - I just needed to wrap the provider outside of the component, and we're all good. Thanks for the insight, and the quick responses!

[2020-11-01 10:25] stfenjobs opened #52 "React 17 support"
warning " > react-google-recaptcha-v3@1.7.0" has incorrect peer dependency "react@^16.13".
warning " > react-google-recaptcha-v3@1.7.0" has incorrect peer dependency "react-dom@^16.13".

[2020-11-08 22:01] prateem opened #53 "Token generated at rapid pace in Next.js app"
Hi there! I'm using this package in a Next.js app and find that on the page where I have the `<GoogleReCaptcha>` component placed, the `onVerify` callback is called very rapidly and new tokens are constantly generated.

I just wanted to know if this is expected.

I'm not doing anything fancy with the component, but here's what the code looks like (roughly):

[code]

[2020-11-11 04:59] t49tran commented on #53
@prateem, please read the document.

https://github.com/t49tran/react-google-recaptcha-v3#googlerecaptcha

Your code is exactly a common mistake that I have documented and say should be avoided.

[2020-11-11 04:59] #53 closed

[2020-11-12 00:47] bencmbrook commented on #48
I've found that if the HOC is not present, it's `undefined`

[2020-11-12 07:43] t49tran commented on #48
Hi @bencmbrook , that's something totally expected. I don't think it has anything to do with this PR though. Also, there is almost no reason to use HOC instead of hooks now. This library is predated the introduction of React hooks, therefore I keep the HOC for backward compatibility.

[2020-11-23 14:38] a-mawlawi commented on #52
+1 for this

[2020-11-27 11:36] RenatoSerra22 opened #54 "Hellow,"

[2020-11-27 11:40] RenatoSerra22 opened #55 "LightHouse, unused javascript"
Hello,

I've ran an lighthouse report on my site, which uses this lib and one of the main complaints lighthouse has is the size of recaptcha script and the amount of code unused.
I know the javascript is the one the lib gets from google, im wondering if theres any way to work around this?

<img width="755" alt="Screenshot 2020-11-27 at 11 38 48" src="https://user-images.githubusercontent.com/12633

[2020-11-28 00:50] t49tran commented on #55
I don't think there is anything you can do about that.

It's the same for any 3rd party scripts, there is no way to optimise them.

[2020-11-28 00:50] #55 closed

[2020-11-28 00:51] #54 closed

[2020-12-03 22:54] bencmbrook opened #56 "executeRecaptcha hangs when API key missing"
First of all, thanks for the awesome package. Makes reCAPTCHA much more usable :)

My bug is that `executeRecaptcha` can hang. I suspect it's coming from the promise of `this.grecaptcha`.

I believe this code block might need to check whether recaptcha is ready?

https://github.com/t49tran/react-google-recaptcha-v3/blob/71256443cec4e75bd171045c0381b5fbc1423e70/src/google-recaptcha-provider.tsx#L95

[2020-12-04 04:12] t49tran commented on #56
Hi @bencmbrook , thanks for reporting the error. It seems to be a different problem, not related to the key to me.

If you check line https://github.com/t49tran/react-google-recaptcha-v3/blob/71256443cec4e75bd171045c0381b5fbc1423e70/src/google-recaptcha-provider.tsx#L57
and https://github.com/t49tran/react-google-recaptcha-v3/blob/71256443cec4e75bd171045c0381b5fbc1423e70/src/google-recaptcha-provi

[2020-12-04 04:51] bencmbrook commented on #56
Thanks for quick response @t49tran. So, if I understand correctly, the absence of recaptcha key normally causes an early promise rejection?

The one thing I do know is that `await executeRecaptcha()` doesn't resolve or reject for me. I'll dig around and see if I can isolate whatever is happening down to something reproducible.

Does anything come to mind as to a particular condition where `await e

[2020-12-04 05:18] t49tran commented on #56
Hi @bencmbrook , what you say is almost correct. If there is no recaptcha key, there will be no `grecaptcha`, you should see a warning in the console, and an error should be thrown out when you are trying to to call `executeRecaptcha` as it is undefined.

The hanging is actually might be something from Google, a few people have had this problem but I have never seen it myself or being able to repl

[2020-12-07 10:18] jaydenlin opened #57 "executeRecaptcha is undeifned"
Thank you for providing the wrapper to use the recaptcha-v3.

However, I followed the guide here, and I got `TypeError: executeRecaptcha is not a function`. Could you help ?
[code]

[2020-12-07 20:40] Mosquid commented on #57
@jaydenlin for me the problem was that I didn't wrap my component into reCaptcha provider

[2020-12-08 01:26] t49tran commented on #57
@jaydenlin Could you provide your code that having the issue ? What @Mosquid said is actually also a common mistake people make from time to time.

[2020-12-15 01:09] #57 closed

[2020-12-23 00:28] corncobb commented on #39
Can confirm that wrapping my entire app with `GoogleReCaptchaProvider` and NOT just the component that I needed, fixed the timeout issue for me.

[2020-12-25 02:27] t49tran commented on #52
Resolved in v1.7.1.

[2020-12-25 02:27] #52 closed

[2020-12-25 02:27] #48 closed

[2020-12-30 12:40] dimileeh commented on #39
I'm using Gatsby and I started to see ReCaptcha timeouts as well.

Thanks to @t49tran who pointed out that `GoogleReCaptchaProvider` should be loaded once per app. I had the `GoogleReCaptchaProvider` in my `layout.js` file the core `Layout` that's used across all pages.

However, as we know, in the latest version of Gatsby this `Layout` gets reloaded on navigations between pages.

I'm using `gatsb

[2021-01-05 20:28] tractorcow commented on #39
With nextjs I've had some success with a mini HOC for injecting the provider, but still not doing it at the app level.

[code]

[2021-01-06 04:19] t49tran commented on #39
Hi @dimileeh , thanks for pointing that out, for Gatsby the problem can be solved by adding a top level wrapper such as the one added by top layout plugin. It's quite tricky and I think it's worth mentioning as Gatsby is quite popular. Feel free to open a PR to add a section to the ReadMe about Gatsby integration.

[2021-01-06 04:21] t49tran commented on #39
Hi @tractorcow, thanks for reporting that. I have never used this plugin with Next.js and don't have much experience with Next.js, but will spend some time to investigate it.

[2021-01-07 03:01] tractorcow commented on #39
@t49tran as long as I follow the instructions you gave (use the provider above the page level, or at the app level) it seems to work flawlessly.

[2021-01-15 22:09] horler234 opened #60 "Error: GoogleReCaptcha Context has not yet been implemented"
I am getting this error `GoogleReCaptcha Context has not yet been implemented` when I use the `useGoogleReCaptcha` hook exactly the way it is in the documentation.

How can this be fixed?

[2021-01-16 02:31] t49tran commented on #60
If you see that's error, it's likely that you haven't wrapped your application with the provider yet. Make sure that you've wrapped your application with the provider so the context is initialised. That's also what's the error means.

[2021-01-16 06:23] horler234 commented on #60
Thanks @t49tran. It totally works now.

[2021-01-16 06:23] #60 closed

[2021-01-25 20:00] tractorcow commented on #39
Hm, I'm still having issues with the recaptcha timing out after 2 minutes (if I leave the form open). I am using serverside validation by the way, but the recaptcha only passes if I submit the form within 2 minutes.

[2021-01-25 20:38] tractorcow commented on #18
I managed to solve this in my project without a custom hook; I just conditionally load the recaptcha after my form is submitted.

[code]

where `completeForm` is a state I set to true once I click `submit` (using Formik)

[2021-01-26 23:18] t49tran commented on #18
Hi @tractorcow, if you need to submit the recaptcha when the form is **completed**, it's better to either use the hook `useGoogleReCaptcha` or the HOC `withGoogleReCaptcha` to access to the function `excecuteRecaptcha`.

A submit handler with Formik should look like:
[code]

While you can do it the way as in your code example, the `GoogleRecaptcha` component is not designed to run that way, and I

[2021-02-04 22:02] tractorcow commented on #18
Yes you are right; After I posted that solution, I did more extensive testing and found it had severe issues (multiple posting per form submission).

The correct soultion was to not use the react component at all.

I like my promises, rather than using async / await, so my code looks like this for submit:

[code]

then I had a graphql mutation that would validate the token on the serverside, and c

[2021-02-04 22:04] tractorcow commented on #18
Just to be nice, here's my PHP for serverside token validation.

[code]

[2021-02-11 10:41] CodingSpiderFox opened #62 "Please clarify how to provide sitekey in production environment"
How would I change the site key in different environments?

The Readme says I should use a .env file for local testing but how would I provide the key in a staged environment (dev, staging, prod)?

[2021-02-11 10:43] CodingSpiderFox opened #63 "Please provide example where the captcha is solved automatically on form submit"
I think it'll be a good idea to automatically submit the captcha when the user submits the form and prevent submitting the form when the captcha was not successful.

Could you please add a code example to the examples directory?

[2021-02-11 16:24] chtpl commented on #50
Does including the provider send data to Google about the client already? Or is this only done once a
`<GoogleReCaptcha onVerify={handleVerify} />` is rendered?

I plan to only activate the captcha until my users enable the "I accept the privacy policy" checkbox on the registration page. I would do that with a conditional rendering. Is this the correct way to do it?

[2021-02-14 18:41] tanyaburlakova commented on #60
hello @t49tran :)

Could you please help me to understand if I need to call captcha on some pages where it needs, how I can do it?
Because I have tried to wrap pages with the captcha provider, but I got the same issue you described here.

Thank you.

[2021-02-15 15:49] tanyaburlakova opened #64 "Captcha only for the specific pages."
hello @t49tran :)

Could you please help me to understand if I need to call captcha on some pages where it needs, how I can do it?
Because I have tried to wrap pages with the captcha provider, but I got the Context issue that I need to wrap the whole app with the CaptchaProvider.

Thank you.

[2021-02-17 00:33] t49tran commented on #64
Hi @tanyaburlakova, that question has been raised and answered before. If you only use captcha on a single page, not the whole app, you just need to wrap that page only with the CaptchaProvider. You just need to make sure that, there will be one and only one CaptchaProvider in your React tree at all time.

[2021-02-17 00:33] #64 closed

[2021-02-17 00:36] t49tran commented on #62
You should have used different .env file for different environment. It's pretty straight forward and natural if you understand that .env file is the file contains environment variables that will be different from env to env.

I will close this one as it's not an issue of the library.

[2021-02-17 00:36] #62 closed

[2021-02-17 00:42] t49tran commented on #63
That's one is out of the scope of the library.

You should have checked the Google document to understand how Recaptcha v3 works: https://developers.google.com/recaptcha/docs/v3.

Basically there are two parts of it:
- The FE get a `recaptcha_token` from Google.
- This token needs to be sent to a backend (the developer backend), to be exchanged with Google for recaptcha information: https://develo

[2021-02-17 00:42] #63 closed

[2021-02-19 19:30] hashibuto opened #65 "Google recaptcha script fails to load on Chromium due to CSP violation"
`"react-google-recaptcha-v3": "^1.8.0"`

Using Chromium:
Version 87.0.4280.66 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

[code]

[2021-02-19 19:41] #65 closed

[2021-03-11 09:34] csorfab commented on #53
"Your code is exactly a common mistake that I have documented and say should be avoided."

Well, you might consider following your own advice because you're making the same mistake. The problem still persists because in the [effect deps](https://github.com/t49tran/react-google-recaptcha-v3/blob/1425368e47d2b820fc8a2cc126f63a18d65e1cb6/src/google-recaptcha.tsx#L37) you provide googleRecaptchaContex

[2021-03-11 14:33] alkhachatryan commented on #44
@alexllao how???

[2021-03-22 22:09] wbobeirne commented on #39
Looks like this is a long-standing issue with recaptcha-v3: https://github.com/google/recaptcha/issues/269

[2021-03-22 22:27] t49tran commented on #39
Thanks for the info @wbobeirne, if there is a solution for this problem I am more than happy to implement it, or PRs to fix these problem are always welcomed.

[2021-04-06 04:28] ivan-kleshnin opened #69 "Document the return result of `executeRecaptcha`"
Hello @t49tran. Thank you for making this library!
I think documentation can be improved by adding information on non-successful cases for `executeRecaptcha`.

Currently, README contains just this line:

[code]

^ it's unclear what will happen if bot sends a request. Will it throw? Will it return null? Or empty string?

In my own experiments, sometimes it throws and sometimes an empty token is ret

[2021-04-06 04:57] t49tran commented on #69
Hi @ivan-kleshnin, sure, I will have a look into how to expand and handle it better.

In the mean time, if you have an idea on how it can be improved, feel free to create a PR.

[2021-04-13 03:53] evanbiederstedt commented on #69
I also have struggled to best understand `executeRecaptcha`, and I'm not quite sure how to best improve the documentation in a PR. This could possibly be related to a conceptual misunderstanding related to reCAPTCHA v3 Enterprise...

For instance, what is the origin of the action string in ` executeRecaptcha()`? The two examples in the README have actions `"homepage"` and `"login_page"`, i.e.

[co

[2021-04-13 05:48] t49tran commented on #69
Hi @evanbiederstedt, the action can be anything you want. I am nowhere near Google Recaptcha team but my understanding about Recaptcha v3 is the process and the return value is heuristic / fuzzy. Ultimately Google will return a value between 0 and 1 (0 is likely to be a bot, while 1 is a human) and you decide for yourself whether the value is good enough.

The action is a part of it, Google use it

[2021-04-13 10:27] ivan-kleshnin commented on #69
I can be wrong but to my understanding `action` is just a user defined string which can used to mark data and fundamentall it's just to group different data channel to have separate statistics. It does not affect captcha algorithm in any way and can be omitted.

[2021-04-13 11:38] t49tran commented on #69
@ivan-kleshnin the second point is the document does mention: https://developers.google.com/recaptcha/docs/v3#actions adaptive risk analysis. I am not 100% sure if it's related to how ReCaptcha works, but it suggest that Google does use it for at least data analysing / mining purposes.

[2021-04-13 11:46] ivan-kleshnin commented on #69
Ah, ok, good to know 👍

[2021-04-14 01:37] evanbiederstedt commented on #69
Hi @t49tran @ivan-kleshnin

Thanks for the clarification. I think this makes a great deal of sense to me. The actions are user set strings, which will be displayed via the GCP console. I suppose these are partially used for the site administrators to control different settings based on the actions.

In terms of improving the README, although it's outside the scope of the library, it would be usefu

[2021-04-17 11:35] alexnix opened #71 "Refused to execute inline event handler"
I started getting the following error in Google Chrome (similar one in Firefox) when loading a component wrapped by <GoogleReCaptchProvider reCaptchaKey="<MY_KEY_HERE>"> ... </GoogleReCaptchProvider>

Refused to execute inline event handler because it violates the following Content Security Policy directive: "script-src 'report-sample' 'nonce-dbmbCGfTr6E9HqPQS/lyJA' 'unsafe-inline' 'strict-dynamic

[2021-04-17 15:44] alexnix commented on #71
Did some research and "Refused to execute inline event handler because it violates the following Content Security Policy directive" was unrelated to the issues that executeRecaptcha was undefined. I just saw them happening together and assumed they are connected...

I checked some other pages (online) using recaptcha and the same error appears in their console so I realized it must still work even

[2021-04-17 15:44] #71 closed

[2021-04-21 17:07] trevorr opened #73 "GoogleReCaptcha Context has not yet been implemented"
Thanks for creating this library! I have run into a small issue however, and I'm curious whether my use case is supported.

The `executeRecaptcha` function returned by `useGoogleReCaptcha` throws a [`GoogleReCaptcha Context has not yet been implemented`](https://github.com/t49tran/react-google-recaptcha-v3/blob/master/src/google-recaptcha-provider.tsx#L31) error when I try to use `GoogleReCaptchaP

[2021-04-22 00:17] t49tran commented on #73
Hi @trevorr, your second implementation is correct, while the first one is flawed. Obviously with React context, you can only access the context within a child component that wrapped by the context provider.

Actually, the question you raised had been asked and answered before. It's more related to how React context works rather than a problem library itself.

Having say that, I agree that it shou

[2021-04-22 00:35] t49tran commented on #73
Btw @trevorr , if you want to update the error message, you're more than welcome to create a PR.

I am thinking about something along those lines: `GoogleRecaptcha Context has not been implemented. If you are using the useGoogleRecaptcha hook, please check that it is called from a component wrapped inside GoogleReCaptchaProvider`.

We also have a HOC so it should be nice to add something there to

[2021-04-27 09:01] michalbundyra opened #74 "Cannot build with 1.9.1+"
I am using react-google-recaptcha-v3 in my project and all worked fine up to 1.9.0 version.
Today tried update to the latest version and got the following error:

[code]

but there is no `@types/react-google-recaptcha-v3` package, and it was not needed in version 1.9.0.
The problem is since 1.9.1 version.

I am using TypeScript in my project. Thanks

[2021-04-27 11:57] t49tran commented on #74
Hi @michalbundyra, thanks for reporting the error.

It has been fixed with the latest version 1.9.4. I have also deprecated all version from 1.9.1 to 1.9.3.

Recently, I have tried to update the build to rollup@v2 in order to make use of React 17 and attempting to reduce the bundle size. I didn't realise that the @rollup/plugin-typescript doesn't emit the type yet.

I have reverted back those chan

[2021-04-28 06:21] #74 closed

[2021-05-05 17:17] X7Becka opened #75 "Customize script url"
Hello everyone.
Is there any reason why still didn't provided prop like customApiUrl or something to handle api2 of invisible recaptcha?
Thanx (:

[2021-05-05 17:29] #75 closed

[2021-05-05 21:37] alextenb opened #76 "Why is v1.7.0 tagged as the latest release in the release list?"
HI, just a question. Why is 1.7.0 tagged as the latest release? The current npm version is 1.9.4.

[2021-05-05 22:41] t49tran commented on #76
Hi @alextenb , thanks for bringing it up, creating a release from the tag in Github is something I often forget when I do a release via npm.

I have updated the latest release to v1.9.4, will add a Github action to handle this in the future.

[2021-05-05 22:41] #76 closed

[2021-05-07 17:27] Enough7 commented on #69
One more hint please include in the readme the [difference between v3 and v2](https://www.scorpiones.io/articles/the-difference-between-recaptcha-v2-and-v3)

[2021-05-12 09:52] DennisBold opened #80 "Upgrading from v1.8.1 to 1.9.X breaks executeRecaptcha"
Hello,

We're currently using react 16.14.0 alongisde this package, due to various reasons (and packages) we can't go any further. There's also several react-* packages that are stuck at least a major version behined.

We tried to update the package from 1.8.1 to 1.9.4 (also tried all versions in between) but started getting an undefined function error. (executeRecaptcha is undefined)
We're essent

[2021-05-12 11:55] t49tran commented on #80
Hi @DennisBold, react 16.14 should be compatible with 1.9.4. In 1.9.4, `executeRecaptcha` can be undefined when the google recaptcha script is being loaded, I will update the ReadMe for that.

When you upgrade from 1.8 to 1.9.4, add an undefined check before using `executeRecaptcha`.

Also, regarding `withGoogleRecpatcha`, I plan to remove it in the next version to remove the dependency on the `ho

[2021-05-12 19:09] Kif11 opened #81 "executeRecaptcha never resolve"
If recaptcha token is not specified `executeRecaptcha()` promise doesn't resolve or reject. In the example below token or error is never printed.

[code]

This behavior can be described by the following example code.

[code]

I'm using `"react-google-recaptcha-v3": "^1.7.1"`

[2021-05-13 02:20] t49tran commented on #81
@Kif11, what the exact version you are using ? What is the version in your `yarn.lock` or `package-lock.json` ?

[2021-05-14 09:20] DennisBold commented on #80
Thanks @t49tran. We'll update things on our application and let you know how it goes!

Dennis

[2021-05-16 19:39] Kif11 commented on #81
@t49tran

[code]

[2021-05-18 02:41] t49tran commented on #81
@Kif11, I am not sure what you mean by saying `If recaptcha token is not specified` ? Also, how do you get access to `executeRecaptcha` ?

The piece of code you given doesn't provide me with enough information to debug anything ? If it's possible, can you share the code and how you use the `GoogleRecaptchaProvider` and get access to `executeRecaptcha`.

[2021-05-18 02:42] #56 closed

[2021-05-18 02:43] t49tran commented on #81
Also, you might want to help a look at this issue https://github.com/t49tran/react-google-recaptcha-v3/issues/56

[2021-05-20 14:04] matiishyn opened #82 "`recaptcha__xx.js` script is loaded twice"
### steps to reproduce
1. start a new CRA app by `npx create-react-app my-app`
2. add `GoogleReCaptchaProvider` as described in docs, make sure you paste your `recaptcha key`
![image](https://user-images.githubusercontent.com/3661065/118991943-d8df3980-b98c-11eb-9bbb-a12de3fac178.png)
3. start the app and open Network devtools

### Actual result
`recaptcha__en.js` script is loaded twice
![image](h

[2021-05-21 01:14] t49tran commented on #82
Hi @matiishyn , thanks for reporting, I will have a look.

[2021-05-22 11:06] KarlBaumann commented on #81
executeRecaptcha is undefined for me
![image](https://user-images.githubusercontent.com/11026930/119224402-8aea4300-bafe-11eb-8af4-f4d393fff760.png)

[2021-05-23 04:52] t49tran commented on #81
The `executeRecaptcha` function is undefined while the javascript is being loaded, please do a null check an call it only when is it available.

[2021-05-23 05:32] t49tran commented on #82
Hi @matiishyn, after some investigation it turns out that it's a problem with Google recaptcha script, not this library.

In your screenshot, the script injected by `react-google-recaptcha-v3` is the `api.js` right above the two `recaptcha__en.js`. That script from Google will then inject the `recaptcha_en.js` and as it is from Google. It's out of my control.

People have reported this issue with

[2021-05-23 05:32] #82 closed

[2021-05-23 05:48] t49tran commented on #81
Doc updated with #84

[2021-05-29 03:48] #80 closed

[2021-06-18 12:01] #81 closed

[2021-06-24 14:06] rever96 opened #87 "Cookies same-site errors"
Adding this package I get this errors in console:
![image](https://user-images.githubusercontent.com/19595534/123276084-278c7000-d505-11eb-97f2-11d33832ab6d.png)

I've Implemented this package like this:
[code]

using this package there are 10 cookies that doesn't respect the SameSite attribute.
Can you fix it?

[2021-06-24 22:36] danmoore83 commented on #16
FYI for anyone having the same problem.
I was having this issue with it always being undefined.
However this turned out to be my own fail, with incorrect dependencies when using useCallback.

**Incorrect:**
[code]

In my onsubmit function I didnt list the handleReCaptcha function as a dependency, resulting in it using a memoised version from when executeRecaptcha was undefined.

**Working:**
[code

[2021-06-24 23:37] t49tran commented on #87
Hi @rever96 , the cookies are from Google and there is nothing I can do to fix it, you can do some more research about this problem and see it's actually not an issue with the client (browser) side and actually not a bug.

I am not from Google and cannot do anything to assist you with this.

[2021-06-24 23:37] #87 closed

[2021-06-28 08:53] rever96 opened #88 "Execute recaptcha not yet available"
Hello!
I'm experiencing an "Execute recaptcha not yet available" as the only one response from this package with the React Hook: useGoogleReCaptcha approach.

here is the code:
[code]

There is a fall in my code?
is that problem code related?
my key should be ok, i'm not 100% sure.
How to show the recaptcha validation if user's pc isn't trusted?

[2021-06-29 15:05] rever96 commented on #88
ok, it was a problem with maybe implementation, but surely on action name

- I changed the action name from 'signin' to 'signup'
- I added the `scriptProps={{ async: true }}` props to GoogleReCaptchaProvider
- I removed useEffect
- I changed a bit useCallback

here is my code now:

[code]

[2021-06-29 15:05] #88 closed

[2021-07-04 05:01] meotimdihia opened #89 "Recaptcha script tag have was added again when click link to transition between routes"
If these params have used:
[code]
Recaptcha script tag has was added again when clicking the link to transition between routes

[2021-07-04 06:45] t49tran commented on #89
Thanks for reporting @meotimdihia , I will check this once I have some time.

[2021-07-05 17:25] alexey-gorshkov commented on #31
You can try this solution https://stackoverflow.com/a/68259988/3752172

[2021-07-06 07:43] musme commented on #89
I have the same problem!

[2021-07-07 05:07] t49tran commented on #89
Hi @meotimdihia, @musme can you guys please provide more information on the issue you have ? How you use `GoogleRecaptchaProvider` and what is the error and what do you think expected behaviour ?

With the current limited information it is impossible for me to assist.

[2021-07-07 06:03] meotimdihia commented on #89
@t49tran I have used Next.js and `react-google-recaptcha` .
I can't give example because you need a Recaptcha key but it is like this :
https://codesandbox.io/s/wizardly-silence-4jvnq?file=/pages/_app.js
When you click the link, the Recaptcha script will download again.

[2021-07-07 06:10] meotimdihia commented on #89
I can't reproduce this bug on the basic example. I think it is related to my next.js app.

[2021-07-07 06:52] t49tran commented on #89
Hi @meotimdihia, no worry, I think I understand your issue partly, just want to confirm with you to see that we are both on the same page. I will update you later on this issue.

[2021-07-07 10:03] musme commented on #89
@t49tran, sorry man. I made a mistake. I put GoogleReCaptchaProvider inside another component that is rendering multiple times,

[2021-07-10 06:19] t49tran commented on #89
I made an update on v1.9.5 that should resolve issue potentially causing this problem. I also updated the doc to provide some more information on how the provider should be used.

[2021-07-10 06:19] #89 closed

[2021-08-02 07:13] chema-mengibar commented on #69
Hi i have a question about the "action" parameter.
for some reason no data is visible,
as in the screenshot posted in another comment.
![grafik](https://user-images.githubusercontent.com/20370607/127818494-c1263dd2-4f02-4c24-8b47-920a78d8a9e3.png)

There is a way to debug what the package call in the "execute"?

[2021-08-03 06:23] t49tran commented on #69
Hi @chema-mengibar, I am quite busy at the moment and might not be able to tend to this problem very soon, if you have time to investigate this yourself and share what you found I am happy to add it to ReadMe (you can make a PR for this).

Cheers

[2021-08-23 22:57] leopucci commented on #36
It is just a .css code to add. I really don´t know why this is not on the module.
Professional sites will not use the badge anyway. Why not make a professional module also?

`.grecaptcha-badge {
    visibility: hidden;
}`

WARNING: display: none DISABLES the spam checking!
https://stackoverflow.com/a/53986985/3156756

[2021-08-28 15:01] fred-boink opened #93 "Nextjs upload bug"
When using Nextjs and uploading lots of content, recaptcha seems to be added multiple times to DOM and eventually crashes the app.

[2021-08-29 05:11] t49tran commented on #93
Hi @fred-boink, without an example of your code I will not be able to assist or tell what's wrong.

[2021-08-29 11:22] avishapiro01 opened #94 "Implement badge prop"
Hi @t49tran,

Thank you for creating this library.

Would you consider implementing a prop for the badge location of the recaptcha?

From the official docs:

![image](https://user-images.githubusercontent.com/46131316/131248640-5fc2639f-14f1-4769-84f4-8c94b1b44568.png)

https://developers.google.com/recaptcha/docs/invisible#render_param

Thanks!

[2021-08-30 12:43] t49tran commented on #94
@avishapiro01 , thanks for bringing this to my attention. I will check and implement it when I have some free time.

[2021-09-01 05:36] #39 closed

[2021-09-01 08:39] phatNfqAsia opened #95 "GoogleReCaptcha component spamming Reload request"
As I use the component as instructed, the component was sending multiple request relentlessly. I don't know if this is intentional :cry:

![image](https://user-images.githubusercontent.com/39822773/131640049-bd634a41-bc6a-4dcc-bfba-da1fe54ddfb6.png)

[2021-09-01 08:43] phatNfqAsia opened #96 "No ReCaptcha client exists"
I set up ReCatpcha using Provider and hook as instructed, it does allow the form to be submitted but from the `recaptcha_en.js` it catch an error like this. I have enabled/disabled the ReCaptcha component but this problem still persist. And the `recaptcha_en.js` is also minified so I can not get any further info from there.

![image](https://user-images.githubusercontent.com/39822773/131640454-b28

[2021-09-01 09:41] phatNfqAsia commented on #96
Please ignore this, I am stupid enuff to keep the v2 implementation while v3 is a whole completely different thing

[2021-09-01 09:42] #95 closed

[2021-09-01 09:44] phatNfqAsia commented on #73
Hello @t49tran , based on @trevorr example I suppose the snippet in https://github.com/t49tran/react-google-recaptcha-v3#react-hook-usegooglerecaptcha-recommended-approach should be updated right, with empty dependencies this will also throw `Execute recaptcha not yet available` . It should be written this way:
[code]

[2021-09-01 12:22] t49tran commented on #73
Hi @phatNfqAsia, thanks for bringing this up. Yes, you are right, I will update the document.

[2021-09-01 12:29] t49tran commented on #96
Hi @phatNfqAsia, without code example there is nothing I can help. Also, please don't spam opening the issues. `recaptcha_en.js` is Google provided script and I couldn't help with debugging it.

[2021-09-01 12:29] #96 closed

[2021-09-01 18:08] fred-boink commented on #93
Hi @t49tran

in my app.tsx
`	 <GoogleReCaptchaProvider
				scriptProps={{ async: true, defer: true, appendTo: 'body' }}
				reCaptchaKey={process.env.NEXT_PUBLIC_GOOGLE_CAPTCHA_KEY}
				useEnterprise

			<ToastProvider
				placement="top-center"
				components={{ Toast: Toaster }}
				autoDismiss

				<IntercomProvider
					appId={process.env.NEXT_PUBLIC_INTERCOM_APP_ID}

					<LoginOverlayProvide

[2021-09-01 19:47] Liam-OShea opened #97 "Get a new Recaptcha token"
Hi there,

I'm using this library to generate a Recaptcha token on my Registration page which I then verify to determine if I should make the user account. The problem is if the registration fails for some reason after validating the token, the user can not make a second attempt as the token has been invalidated after one use.

Is there a way to get a new token in this case using your library?

[2021-09-02 06:25] phatNfqAsia commented on #96
Oh very sorry @t49tran, I got a tired mind after a long day and does not investigate the problem thoroughly myself. it is because I use v2 method `window.grecaptcha.reset()` method which is not available in v3 use case. I remove that line of code and problem disappear. Just note this down in case anyone have trouble migrating v2 to v3 can see :grin:

[2021-09-03 01:50] hadnet commented on #94
@t49tran if you can add the the theme prop for dark theme would be awesome too.
![dark-theme](https://user-images.githubusercontent.com/13828833/131938533-7d2e6d4b-2b58-42e3-ae61-1a287a547f5d.png)

[2021-09-05 05:33] sulismies opened #98 "Execute recaptcha function not defined?"
Hi,

I am using the first suggested method GoogleReCaptcha
https://github.com/t49tran/react-google-recaptcha-v3#googlerecaptcha
inside a React component to get things done.

So far so good:
1. I get my token in handleVerify,
2. I can succesfully pass the token to a backend (firebase functions)
3. The backend passes the token to https://recaptcha.google.com/recaptcha/api/siteverify and
4. gets a re

[2021-09-05 12:48] t49tran commented on #98
Hi @sulismies thanks for asking the question. From what I can see I think everything is ok for you. The message you see is actually not an error, it's just a warning. For now you can ignore it.

For the next version I will update it so warning messages like this will be removed in production mode. I will also double check to see if there should be a warning message from `GoogleRecaptcha` component

[2021-09-06 05:23] sulismies commented on #98
Many thanks for your quick answer. This is my first react app and therefore I have some doubts that I am missing something essential.

[2021-09-06 05:23] #98 closed

[2021-09-20 17:27] leopucci opened #99 "Wait for token on page load, to not get Execute recaptcha not yet available"
Hi. Thanks for your lib! I am using this library to login flow and register flow. Everything works fine when the user action is slow, so the user clicks on register, the flow runs ok without `Execute recaptcha not yet available`

This is my HOC
[code]

This is my Register button click:
[code]

This runs fine. Because the user is slow and the page loads complete.

But now I am creating the flow for

[2021-09-20 17:34] leopucci commented on #99
https://github.com/t49tran/react-google-recaptcha-v3/issues/73#issuecomment-910117949

This seems to solve, testing...

[2021-09-20 17:40] leopucci commented on #99
I have added the proposed mods here https://github.com/t49tran/react-google-recaptcha-v3/issues/73#issuecomment-910117949
But still getting `Execute recaptcha not yet available`

[2021-09-20 17:46] leopucci commented on #99
https://stackoverflow.com/questions/62015796/how-to-wait-for-the-recaptcha-v3-token-synchronously

[2021-09-20 18:31] leopucci commented on #99
https://github.com/t49tran/react-google-recaptcha-v3/issues/73#issuecomment-910117949 solved the problem.

[2021-09-20 18:31] #99 closed

[2021-09-24 02:59] MaximusHaximus opened #103 "`useEnterprise` config option breaks `useRecaptchaNet` unnecessarily"
This package disables using `recaptcha.net` when configured with `useEnterprise: true`, even if it was _also_ configured with `useRecaptchaNet: true`.

However, ReCAPTCHA Enterprise can be loaded from either `google.com` or `recaptcha.net`; there is no reason to load Enterprise ReCAPTCHA from `google.com`.

Because of this behaviour, this package breaks for any users in China (for example), when i

[2021-09-24 04:36] t49tran commented on #97
Hi @Liam-OShea , please check the doc. You can use the hook `useGoogleRecaptcha` which will give you access to the `excecuteRecaptcha` function that will generate a new token when being invoked.
https://github.com/t49tran/react-google-recaptcha-v3#react-hook-usegooglerecaptcha-recommended-approach

[2021-09-24 04:36] #97 closed

[2021-10-05 09:27] Moranilt commented on #93
you shouldn't use it in your app.tsx for Nextjs. You should create HOC and wrap each page in it or you will get overloads every time.

[2021-10-07 12:08] aleksei-savitski-softswiss opened #104 "GoogleReCaptchaProvider doesn't track reCaptchaKey change"
Hi,
The lib stopped working after GoogleReCaptchaProvider migration to functional component.
In my case reCaptchaKey is loaded after page load and GoogleReCaptchaProvider is initialised with empty key at first. But latest version of provider doesn't track reCaptchaKey updates.

The issue could be fixed by adding reCaptchaKey to useEffect deps here https://github.com/t49tran/react-google-recaptcha-

[2021-10-07 21:05] sambouchard commented on #103
Is this published in the 1.9.5 version or do you we Have to wait for the 1.9.6 release for it to be available?

[2021-10-21 11:03] t49tran commented on #104
@aleksei-savitski-softswiss thanks for the information, I will have a look.
Regarding the `console.warn`, in the latest version, this warning message is now only shown in development build. I am also open to remove it completely or provide a way to suppress it.

[2021-10-22 00:51] t49tran commented on #104
@aleksei-savitski-softswiss this problem with dynamic recaptcha key has been fixed in the latest release. For the error message, I am still considering whether should it be removed completely. I have people forgot to add the key as a props in the past and this message should help them with it. I might add an option allow the user to suppress that error message, still thinking what is the best way

[2021-10-26 14:11] dretsa opened #106 "[Bug] Can not use more than one provider"
#### Issue description
When you try to use multiple providers, some of the providers might no receive the execute function because of race condition.

I am using this on pages where react is not a full SPA yet, so it's broken down into components. Therefore I can not use the same provider and am forced to use more than one provider.

#### Steps to reproduce the issue

1.  Create a simple HOC funct

[2021-10-26 23:26] #106 closed, assigned to nobody

[2021-11-02 06:05] #103 closed

[2021-11-10 13:01] Michael-1 opened #107 "Incompatible with Webpack 5 (“process is not defined”)"
The function `logWarningMessage` in _utils.js_ depends on the `process` variable being defined. But Webpack 5 does no longer include a polyfill for this Node.js variable. So, when a warning should be logged, an error is thrown instead, and you see this in the browser console:

Suggestion: disable this heuristic on a “production mode,” and instead always log warnings.

(Webpack provides an option t

[2021-11-10 13:43] t49tran commented on #107
Hi @Michael-1, thanks for bringing this up, I will add an extra condition to check if `process` is undefined. However, `process` is not something Webpack specific and this library is not written only to build with Webpack regardless of versions. This library is not written to depedent on Webpack or a webpack plugin.

Also, using `process.env` to inject environment variables is a common practice an

[2021-11-21 21:55] lgants opened #108 "Proposal: Expose GoogleReCaptcha Context"
There is currently no way to access the context directly (to my knowledge). Exposing the context could be handy for layering providers. For example, if someone integrates ReCaptcha in all their forms out-of-the-box, but they also have a few buttons that need it, which may be on the same page as the form (at different positions in the hierarchy). If context is exposed, they could do something like

[2021-11-27 03:33] #104 closed

[2021-11-27 03:40] t49tran commented on #108
Hi @lgants, don't think I fully understand your use case here, does it means you need to access recaptcha function from multiple components ? In that case, you only need a single GoogleReCaptchaProvider on top or near the top of the component hierarchy. I don't see why the GoogleReCaptchaProvider needs to be conditional rendered multiple time in the same React tree. If you have multiple form or bu

[2021-11-30 10:01] nmalyarsky opened #109 "Script reloads on provider rerender if `scriptProps` prop is present"
If the `scriptProps` prop is specified in a `GoogleReCaptchaProvider`, then a full cleanup/inject cycle will be initiated on each provider rerender, even if `scriptProps` object stays semantically the same. This is due to the nature of `useEffect` and object equality.

Issue is easily replicated using barebone Next.js app with routing and a custom `App` like this one:
[code]
Each route change rere

[2021-12-01 07:33] AliBahaari opened #111 "How to give z-index CSS property to the provider?"
Hello, as you know there is a `GoogleReCaptchaProvider` within the package.
In a project, it's needed to apply a `z-index` CSS property for arranging layers of objects.
I wrote the code below:
[code]
But nothing happens at all.
What's the solution?

[2021-12-03 02:22] gitdog01 opened #112 "ReCaptcha v3 always has a score of 0.1 points. In chrome secret mode"
Hi ! have a good day !

I recently added reCaptcha v3 to my site. It is React/Next.js/JavaScript project. with this package

It works. When I tested it, it was 0.9 points. My colleague's script is 0.7 points.

It looks like pretty Good.

But, When I use Chrome Secret mode, I always get 0.1 point.

Since stackoverflow doesn't have the same question as me, I thought it might not be Google's problem,

[2021-12-09 00:10] johndanek commented on #109
"This behavior can be avoided by using a state variable in a consumer code." Do you have an example of this? I've run into the same issue and am a bit confused as to how to stop this frequent reloading.

[2021-12-09 13:52] nmalyarsky commented on #109
Sure, using example above:
[code]

[2021-12-09 18:50] johndanek commented on #109
@nmalyarsky Thank you!

[2021-12-10 18:03] wraithm commented on #65
@hashibuto How did you solve this?

[2021-12-13 15:00] gitdog01 commented on #112
so it is not a problem

[2021-12-13 15:00] #112 closed

[2021-12-14 06:43] hashibuto commented on #65
It's been awhile now, but if I recall correctly, I had to adjust the CSP within nginx to allow for the google domain.

[2021-12-14 06:55] wraithm commented on #65
Yeah, so I did that. I found that this react component is attaching the Google recaptcha script dynamically, such that you're kinda forced into using unsafe-inline.

I'd love it if there were some easy way to figure out the hash of the script that's gonna be attached, and I'd also love to figure out if that script is stable.

[2021-12-17 05:33] qnighy commented on #107
The actual problem is how it looks for the environment variable: https://github.com/t49tran/react-google-recaptcha-v3/blob/v1.9.7/src/utils.ts#L147-L148

[code]

Webpack [inserts DefinePlugin for `process.env.NODE_ENV` by default](https://webpack.js.org/configuration/optimization/#optimizationnodeenv), but this replacement is syntactic. Therefore the code is transformed into the following:

[code]

[2022-01-11 12:16] dhyey-talkdoc opened #113 "Action value is empty"
I use the following code in the frontend to generate a new token upon user action
[code]
On the backend, I get the response from an assessment using this code:
[code]

What I see is that sometimes, `content['tokenProperties']['action']` is blank, and the score is 0, even though the FE is sending the action. This only happens sometimes, not every time.

Any inputs on whether I'm doing anything wron

[2022-01-12 20:35] julianshowshappening commented on #111
Yup, I wish to do this too from my end. Would like a solution

[2022-01-13 18:34] alipiry commented on #111
Add these lines of code to your css:

[code]

[2022-01-16 08:22] AliBahaari commented on #111
Thanks!

[2022-01-26 17:28] estitpab opened #115 "PageSpeed Insights error report"
[PageSpeed Insights](https://pagespeed.web.dev/) report returns errors regarding font display.
Is there a way to avoid loading the font used?
Or make it use the css display recommendation `font-display: swap;` ?

![image](https://user-images.githubusercontent.com/12656704/151214625-4f4b5e82-4298-4ba7-bb26-d46532b5b1a1.png)

[2022-02-25 12:58] nadirefe commented on #73
@t49tran I believe you did not update the document yet.

[2022-03-01 14:59] victor-cui-brigit commented on #60
do I need to wrap the entire app with the ` <GoogleReCaptchaProvider>` or only the component in which I need recaptcha?

[2022-03-01 15:44] victor-cui-brigit commented on #73
is there a way to hide the recaptcha logo on the bottom right corner?

[2022-03-02 13:55] afternoon2 opened #123 "Cannot mock useGoogleReCaptcha"
Hello and thanks for developing this library!

I have a problem with mocking the `useGoogleReCaptcha` hook. It seems that the original implementation is called from the component although jest doesn't log any errors about the mock being done in a bad way.

#### Usage in the app

Custom hook that wraps the library hook:

[code]

And then I use it inside the component:

[code]

#### Mock

[code]

Fo

[2022-03-02 14:20] afternoon2 commented on #123
Ok, I have at least a partial resolution - I moved jest mock outside of the `describe` block and removed mock resets + I mocked the provider as well.

[code]

but still it doesn't look good to me 🙂

[2022-03-05 19:56] fatihyildizhan opened #124 "iOS Safari Support"
Hi, I just started using recaptcha v3 with nextjs. It is not working on iOS Safari. Does recaptcha v3 support it?
I couldn't debug it. What could be the problem?
Thank you.

[2022-03-15 10:34] krajcikondra opened #125 "How regenerate token?"
Hi,

I have SignInForm and I found out I get google racaptcha error when
1. Send sign in form with bad password - it`s ok
2. I fill correct password and resend sign in form - now I get server error when I verify token sent from frontend

It looks I cannot use same token twice and need regenerate old token by new token.

Problem is I dont know how have I regenerate old token.

Can somebody help me?

[2022-03-17 05:55] krajcikondra commented on #125
Same problem here #97

[2022-03-17 05:55] #125 closed

[2022-04-06 07:55] ferranpuigmar opened #126 "We are having delays since 4 secons in order to take the recaptcha token in front"
Hi, we are implemented you package in our react aplication and some users that are in other countries are experimenting 4 seconds delay when executeRecaptcha is called.

We are implemented the provider aproach, and in the inner components we are using a hook following your suggested aproach.

Are you notice about some big delays when apply this package?

Thanks a lot.

Ferran

[2022-04-06 10:22] dyihoon90 opened #127 "div get appended to HTML body on error"
When the network is unstable, we may sometimes get the following div appended to the end of our HTML body:

`<div>"could not connect to the reCAPTCHA service. Please check your internet connection and reload to get a reCAPTCHA challenge."</div>`

When this happens, the text floats in the middle of our page and affects the user's experience.

Does anyone knows how we can fix this issue?

[2022-04-06 17:12] biniyammoges commented on #73
Add this code to you css

`.grecaptcha-badge {
     display: none;
 }
`

[2022-04-06 17:14] biniyammoges commented on #73
add these code to your css
[code]

[2022-04-27 08:52] Lamachael opened #130 "Iframe AODA compatibility"
Hi Team,

One of our client has to take AODA accessibility ratings seriously and there is an iframe tag that comes from the recaptcha library that has no title `<iframe style="display: none;"></iframe>`. Can you please edit this frame to match the compliance needs?

Thanks.

[2022-05-07 09:24] DjVreditel commented on #94
@t49tran, please check the PR above.

[2022-05-29 11:13] #109 closed

[2022-05-30 16:47] viliuscicenas opened #134 "executeRecaptcha not loaded"
When I try to implement useGoogleReCaptcha, executeRecaptcha doesn't ever initialize. Here is code example (these components are not at the highest level):

[code]

[2022-05-30 19:54] liviuzachin opened #135 "ReferenceError: process is not defined"
[Here](https://github.com/t49tran/react-google-recaptcha-v3/blob/master/src/utils.ts#L148) must check if `process` is defined too. Getting `ReferenceError: process is not defined` in production.

[2022-05-31 06:47] viliuscicenas commented on #135
I think this issue was mentioned in here #107 and it seems it is ignored for  a while, technically that code could be just wrapped in try catch block as it is non-essential code in my opinion

[2022-05-31 06:56] #134 closed

[2022-05-31 07:09] liviuzachin commented on #135
I see, in my case it crashed my whole Remix app and took a while to find out the root cause. Thanks.

[2022-07-04 15:35] thediveshsharma opened #140 "Don't know what to do after sending token to backend and getting score from backend."
Hi, I want to know that I am getting token from the package and I am sending it to my backend . they are getting response scores too.
But I want to render I am not a robot , check if the user has low scores.
I am too confused about the next step.
Kindly guide me what to do.

[2022-07-04 15:37] thediveshsharma commented on #140
What I want :-
1) If a user has low score ,it should show popup validation and if he/she completes it . It should let them submit form or increase their score.

[2022-07-16 12:01] #135 closed

[2022-07-16 12:02] #94 closed

[2022-07-16 17:16] himadrinath commented on #106
[code]

having same problem

`TypeError: executeRecaptcha is not a function`

[2022-07-19 21:59] salazarm commented on #140
In the GCP console you can configure what score will trigger validation. On your side you don't need to do anything its more of an FYI for you to flag accounts.

[2022-07-21 09:28] Rj90029 opened #142 "Property 'container' does not exist on type 'IntrinsicAttributes & IGoogleReCaptchaProviderProps'."
I am trying to position the captcha badge inline and put inside a div element. I have created a div element and given the ID for element in the props values. It is throwing compilation error as mentioned above. I believe this feature was released recently and I am not sure if I am doing something wrong or this is really a bug.

        <GoogleReCaptchaProvider
          reCaptchaKey={process.env.R

[2022-07-21 09:46] Rj90029 commented on #142
I just needed to restart the application after installing latest version. It was still pointing to old version even after installing latest release.

[2022-07-21 09:46] #142 closed

[2022-07-29 03:51] ong-appxplore opened #143 "recaptcha still return token even when offline"
Hello,

I have this problem where sometimes my server cannot validate the recaptcha token from my client.
What I found during debugging is that when the client is having bad Internet or disconnect, I still receive a token and that token validation always fail.

To simulate this, I just go to my site and set browser to offline mode. There's no error too.

[2022-07-29 10:16] joggienl opened #144 "release changelog"
Hi there!
Just a quick question, I noticed a new release (1.10.0) on npm. Is there a changelog available? I did not see this release here on github.

Thanks!

[2022-08-05 15:03] Kangaroux commented on #144
Our team is waiting on the changelog before we upgrade, would be good to know.

[2022-08-08 20:45] isferrei opened #145 "Recaptcha causing page rerendering"
Hello guys,
I hope you can help me with this issue. Using the google recaptcha inside my page, is causing an ininity renderings on it, making a lot of posts to google api.

![image](https://user-images.githubusercontent.com/54048443/183510700-9614e46c-9869-4dc0-8b9c-d4a670b1a850.png)
![image](https://user-images.githubusercontent.com/54048443/183511091-4821058a-5e34-4b52-b4ed-135e28c709f4.png)

I'

[2022-08-10 17:16] eltonfms opened #146 "reCAPTCHA has already been rendered in this element"
### Question
There is an error in one of the promises, but no treatment was done to deal with the error: _Uncaught (in promise) Error: reCAPTCHA has already been rendered in this element_.

Version: 1.10.0
Browser: Chrome/104.0.5112.81
File: google-recaptcha-provider.tsx

[code]

![error-recaptcha](https://user-images.githubusercontent.com/6197508/183970293-1af65bc5-f3de-444d-8253-cbe91ff8f8d5.png

[2022-08-16 06:52] blekmus commented on #146
I've been using this in a Nextjs setup. This error occurs when I'm in development mode. When I build and serve the application, there's no problem. The error is not given and the captcha widget attaches itself to the element.

[2022-08-18 17:30] evangow commented on #127
@dyihoon90 did you ever find a fix to prevent this div being appended?

[2022-08-23 12:00] felixmeziere opened #149 "Please create tags for the new releases published on npm :-)"
Thanks for this library! v1.10.0 is available on npm, would be nice to have the matching tag on this github repo :)

[2022-08-23 13:04] felixmeziere opened #150 "[BUG] The commit "Fix issue with script reload on provider rerender with `scriptProps` present" introduces a regression on my product"
Hi there :)

This [commit](https://github.com/t49tran/react-google-recaptcha-v3/commit/907c3d1f3af71ee0aa6ae54b0cbf8459093d0322) from version 1.9.8 introduces a regression on my website's checkout page, when the user uses recaptcha twice in a row (first to signup, and then again immediately to purchase a booking).

What happens is there is a js error that blocks the user from doing proceeding with

[2022-08-27 11:32] t49tran commented on #149
Hi @felixmeziere, sorry for missing that, the tag for v1.10.0 is now available.

[2022-08-27 11:32] #149 closed

[2022-08-27 11:32] t49tran commented on #144
Hi guys, I added a release for v1.10

[2022-09-02 13:43] Guvidaletti commented on #124
Same problem here with React and Typescript. On both (Chrome iOS and Safari iOS) the Recaptcha logo doesn't appear and the useGoogleReCaptcha hook returns _undefined_. Nothing on console.

[2022-09-03 20:38] waleed1892 commented on #145
Avoid using inline functions for onVerify it causes verification process to run continuously.

[2022-09-13 07:32] AzeemAleem opened #154 "Make Too much complex"

[2022-09-14 23:42] octdanb opened #155 "documentation for Example of refreshReCaptcha option"
[code]
should be

[code]

[2022-09-28 15:44] timothyk0908 commented on #123
+1
I'm using playwright to test a register process, and I can't manage to mock the useGoogleRecaptcha hook action

[2022-10-05 10:21] huyhqit opened #156 "Reduce package size"
I use react-google-recaptcha-v3, this is great package, but Google has announced that the library size is quite high, you can further configure webpack to reduce build file size, for example adding production mode to configure, thank you.
https://webpack.js.org/guides/production

[2022-10-10 01:46] nifanic commented on #146
Having the same issue when trying to define `container` prop.

👉🏻 Can't `container.element` be dynamic at all?

Otherwise, the prop doesn't make sense since DOM is _yet_ to be ready when the `GoogleReCaptchaProvider` is triggered.

[2022-10-10 14:20] DumasOlivier commented on #143
Did you find a solution to fix it @ong-appxplore ?

[2022-10-14 19:27] SeriousLeeTV opened #157 "How to access the vanilla `onload` function?"
I couldn't find anything about this on the npmjs page, which is what brings me here.

When implementing recaptcha with vanilla.js you'd typically import it from a cdn with a `script` tag, in which case you can add an `onload` param onto the end of the cdn url, such as with the below:

`<script src="https://www.google.com/recaptcha/api.js?onload=loadedCallback&render=explicit" async defer></script>

[2022-10-20 21:49] bohdanho opened #158 "Default value for action parameter"
I can not find the default value for action parameter in executeRecaptcha function in case it was omitted. Can you please give me a hint?

[2022-10-24 18:40] ShawnCentra opened #159 "Load script only on one page instead of all pages."
I have a form on one page, but captcha renders on every page.

Any solution for this?

[2022-10-24 18:41] ShawnCentra commented on #159
https://stackoverflow.com/questions/59497890/showing-google-recaptcha-v3-floater-only-on-specific-pages-of-react-application

there's hacky solves with removing the script but even after implementing some of these it still remained in the DOM (useEffect)

[2022-10-25 18:02] josuearrieta commented on #157
@SeriousLeeTV same here but also interested in `onerror` vanilla tag. I'm interested in finding a way to reload the script if it fails to load the first time.

[2022-10-31 02:10] israelins85 opened #160 "Prop to change theme without change the default element"
When I try to set only the theme, there's give warning to missing set the element, and the theme is not changed.

Code that I tried:
[code]

[2022-11-17 08:32] allaniftrue commented on #159
I am getting **Missing required parameters: sitekey** in sentry. Is there a way to fix this issue?

[2022-11-21 20:00] michetti commented on #150
We experienced the exact same problem with 1.10.0. Reverting to 1.9.7 worked for us.

[2022-11-29 15:27] theo-mesnil commented on #150
We've got the same issue with 1.10.0.